# 🧠 Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
venv/
.env
*.env
.venv/

# Streamlit
.streamlit/

# OS/system files
.DS_Store
Thumbs.db

# Logs and temp files
logs/
*.log

# IDE settings
.vscode/
.idea/
*.swp

# Node/npm (if used in future)
node_modules/

#GEMINI_API_KEY
GEMINI_API_KEY= [ AIzaSyCsLaRVJ7npbwuZym0pc_Bedsh9GRvi-c4 ]
